page-tabs {
    .title.title-md {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 100%;
        width: 101%;
        background: #488aff;
        text-align: center;
        color: white;
    }
    
    ion-title{
        color: white;
    }
}
